
body {
	margin: 0px;
	padding: 0px;
	background: #93DB70 url(img01.gif) repeat-y center top;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #444444;
}

label{
text-align: left;
width: 210px;
float: left;
margin-top: .3em;
font-weight: bold;
}

input{
width: 180px;
margin-left: 2.5em;
display: right;
}

select{
margin-left: 2.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	color: #4CBB17;
	font-size: 30px;
	font-weight: bold;
	font-family: Serif;
}

a {
	font-weight: bold;
	color: #397D02
}

a:hover {
	text-decoration: none;
	color: #4CBB17;
}

#header {
	width: 770px;
	margin: 0px auto;
	padding: 0px;
}

#header h1 {
	margin: 0px;
	padding: 20px;
}

#menu {
	width: 770px;
	margin: 0px auto;
	padding: 5px 0px 6px 0px;
	background-color: #4CBB17;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	padding: 5px 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	background-color: #93DB70;
}

#content {
	width: 750px;
	margin: 0px auto;
	padding: 20px 0px 0px 0px;
}

#content h1{
	font-weight: normal;
	font-size: 20px;
	font-family: arial;
}

#content p, #content ul, #content ol {
	line-height: 140%;
}

#border-top {
	border-top: 5px solid #4CBB17;
}
